/*公共样式--开始*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #232323;
}
body {
	font-family: 'Microsoft YaHei';
	color: #333;
	font-size: 0.4rem;
}

img {
	border: none;
	vertical-align: middle;
}
button {
	border: none;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

input,
select,
textarea {
	outline: none;
	border: none;
}

textarea {
	resize: none;
	overflow: auto;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: '.';
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow: hidden;
}

.ellipse {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.border {
	position: relative;
	box-sizing: border-box;
}
.borderAll::after {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	border: 1px solid #eeeaea;
	border-radius: 0.16rem;
	transform: translate(-50%, -50%) scale(0.5, 0.5);
}
.borderBottom::after {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	border-bottom: 1px solid #eeeaea;
	transform: translate(-50%, -50%) scale(0.5, 0.5);
}
