.mobileSelect { position: relative; z-index: 0; opacity: 0; visibility: hidden; -webkit-transition: opacity 0.4s, z-index 0.4s; transition: opacity 0.4s, z-index 0.4s; }
.mobileSelect * { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }
.mobileSelect .grayLayer { position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: #eee; background: rgba(0, 0, 0, 0.5); z-index: 888; display: block; }
.mobileSelect .content { width: 100%; display: block; position: fixed; z-index: 889; color: black; -webkit-transition: all 0.4s; transition: all 0.4s;
  bottom: -350px; left: 0; background: white; padding-bottom:20px; }
.mobileSelect .content .fixWidth { width: 100%; margin: 0 auto; position: relative; }
.mobileSelect .content .fixWidth:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.mobileSelect .content .btnBar { font-size: 15px; position: relative; text-align: center; }
.mobileSelect .content .btnBar .ensure { width: 8.8rem; height: 1.2rem; background-color: #38a0ff; border-radius: 4.4rem;
    -webkit-border-radius: 4.4rem; line-height: 1.2rem; cursor: pointer; margin: 0 auto; color: #fff; font-size: .4rem;
}
.mobileSelect .content .btnBar .ensure:hover,.mobileSelect .content .btnBar .ensure:active{ background-color: #116bbd;}
.mobileSelect .content .panel:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.mobileSelect .content .panel .wheels { width: 100%; height: 200px; overflow: hidden; }
.mobileSelect .content .panel .wheel { position: relative; z-index: 0; float: left; width: 5rem; height: 200px;
  overflow: hidden; -webkit-transition: width 0.3s ease; transition: width 0.3s ease; }
.mobileSelect .content .panel .wheel .selectContainer { display: block; text-align: center; -webkit-transition: -webkit-transform 0.18s ease-out;
  transition: -webkit-transform 0.18s ease-out; transition: transform 0.18s ease-out; transition: transform 0.18s ease-out, -webkit-transform 0.18s ease-out; }
.mobileSelect .content .panel .wheel .selectContainer li { font-size: 15px; display: block; height: 40px; line-height: 40px;
  cursor: pointer; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.mobileSelect .content .panel .selectLine { height: 40px; width: 100%; position: absolute; top: 80px; pointer-events: none;
  -webkit-box-sizing: border-box; box-sizing: border-box; border-top: 1px solid #DCDCDC; border-bottom: 1px solid #DCDCDC; }
.mobileSelect .content .panel .shadowMask { position: absolute; top: 0; width: 100%; height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(rgba(255, 255, 255, 0)), to(#ffffff));
  background: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0), #ffffff); background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0), #ffffff);
  opacity: 0.9; pointer-events: none; }
.selectLine-text{ position:absolute; top: 12px; font-size: .4rem; }

.mobileSelect-show { opacity: 1; z-index: 10000; visibility: visible; }
.mobileSelect-show .content { bottom: 0; }
.mobileSelect-ymd .content .panel{margin: .45rem 0;}
.mobileSelect-ymd .content .panel .wheel{ width: 2.5rem !important;}
.mobileSelect-ymd .content .panel .wheel:first-child{ width: 3.7rem !important; }
.mobileSelect-ymd .content .panel .wheel .selectContainer li { font-size: .43rem;  display: block;  height: 40px;
    line-height: 40px; padding-left: 0; cursor: pointer; overflow: hidden; position: relative;
    text-align: center; white-space: nowrap;  text-overflow: ellipsis;}
.selectLine-year{ left: 3.35rem;}
.selectLine-month{ left: 6.04rem;}
.selectLine-day{ left: 8.6rem;}

.mobileSelect-ymdh .content .panel{margin: .45rem 0;}
.mobileSelect-ymdh .content .panel .wheel{ width: 2.25rem !important;}
.mobileSelect-ymdh .content .panel .wheel .selectContainer li { font-size: .43rem;  display: block;  height: 40px;
    line-height: 40px; padding-left: 0; cursor: pointer; overflow: hidden; position: relative;
    text-align: center; white-space: nowrap;  text-overflow: ellipsis;}
.mobileSelect-ymdh .selectLine-year{ left:2.2rem; }
.mobileSelect-ymdh .selectLine-month{ left:4.3rem; }
.mobileSelect-ymdh .selectLine-day{ left: 6.6rem; }
.mobileSelect-ymdh .selectLine-hour{ left: 8.75rem; }


.mobileSelect-ymdhm .content .panel{margin: .45rem 0;}
.mobileSelect-ymdhm .content .panel .wheel{ width:1.9rem !important;}
.mobileSelect-ymdhm .content .panel .wheel .selectContainer li { font-size: .43rem;  display: block;  height: 40px;
    line-height: 40px; padding-left: 0; cursor: pointer; overflow: hidden; position: relative;
    text-align: center; white-space: nowrap;  text-overflow: ellipsis;}
.mobileSelect-ymdhm .selectLine-year{ left: 1.85rem; }
.mobileSelect-ymdhm .selectLine-month{ left: 3.65rem; }
.mobileSelect-ymdhm .selectLine-day{ left: 5.6rem; }
.mobileSelect-ymdhm .selectLine-hour{ left: 7.45rem; }
.mobileSelect-ymdhm .selectLine-minuter{ left: 9.15rem; }



.mobileSelect-ym .content .panel{margin: .45rem 0; }
.mobileSelect-ym .content .panel .wheels{ padding-left: 1.3rem;}
.mobileSelect-ym .content .panel .wheel{ width: 3.3rem !important;}
.mobileSelect-ym .content .panel .wheel:first-child{ width: 3.3rem !important; }
.mobileSelect-ym .content .panel .wheel .selectContainer li { font-size: .43rem;  display: block;  height: 40px;
    line-height: 40px; padding-left: 0; cursor: pointer; overflow: hidden; position: relative;
    text-align: center; white-space: nowrap;  text-overflow: ellipsis;}
.mobileSelect-ym .selectLine-year{ left: 4.2rem;}
.mobileSelect-ym .selectLine-month{ left: 7rem;}


